/*Head*/

body {
  font-family: arial;
  background-color: rgb(238, 245, 164);
  text-align: center;
}

/*Home Section*/

.banner {
  justify-content: center;
  display: flex;
}

.banner img {
  width: 20%;
  margin-top: 10em;
  background-image: linear-gradient(to left, aqua, indigo);
  border-radius: 2em;
}

h1 {
  text-align: center;
  font-size: 5em;
  color: cornflowerblue;
  text-shadow: 2px 2px 2px #000;
}

.play {
  justify-content: center;
  display: flex;
}

.play button {
  padding: 1em 2em 1em 2em;
  border-radius: 1em;
  font-weight: bold;
  background-color: indigo;
  color: aqua;
  font-size: large;
  border-color: transparent;
  cursor: pointer;
}

.play button:hover{
  background-color: aqua;
  color: indigo;
}

/*Main Section*/

#logo {
  color: rgb(0, 204, 255);
  text-shadow: 2px 2px 2px #000;
}

#logo1 {
  display: inline-block;
  border-radius: 6px;
  padding: 4px;
  color: aqua;
  background-color: rgb(177, 148, 198);
  background-image: linear-gradient(to left, rgb(127, 176, 255), indigo);
  font-weight: bold;
}

h4 {
  margin-top: 3em;
  text-align: center;
}
h2 {
  text-align: left;
  color: rgb(0, 0, 0);
}

p {
  color: rgb(0, 0, 0);
  font-size: 1.2em;
}

img {
  padding: 20px;
  border: 3px solid grey;
  border-radius: 10px;
}

img:hover {
  border: 3px solid aqua;
}

/*Navbar*/

ul#nav {
  margin: -8px -1em;
  margin-bottom: 3em;
  padding: 10px 2em;
  background-color: aquamarine;
  background-image: linear-gradient(to left, aqua, indigo);
  text-align: left;
  position: fixed;
  width: 100%;
  margin-bottom: 1;
}
ul#nav li {
  list-style: none;
  display: inline-block;
  margin-right: 20px;
}

ul#nav li a {
  text-decoration: none;
  padding: 10px 0;
  color: aqua;
  font-weight: bold;
}

ul#nav li a:hover {
  color: blueviolet;
  border-bottom: 3px solid blueviolet;
}

/*About Us*/

.team {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#AboutUs {
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  align-items: center;
  gap: 2rem;
  text-align: center;
  margin-top: 4rem;
}


.Us {
  width: 250px;
  height: 250px;
  padding: 16px;
  border-radius: 15px;
  transition: all .30s ease;
}

.Us img {
  border-radius: 30px;
  width: 250px;
  height: 250px;
  margin-bottom: 15px;
}

.Us h3 {
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 8px;
  margin-left: 40px;

}

.Us h5 {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 15px;
  letter-spacing: 2px;
  margin-left: 40px;
}

.icons i {
  display: inline-block;
  font-size: 20px;
  margin: 0 8px;
  transition: all .30s ease;
  margin-left: 50px;
  margin-right: 10px;
}

.icons i:hover {
  transform: scale(1.2);
}

.Us:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

.logo2 h1 {
  font-size: 4rem;
  text-align: center;
  border-radius: 6px;
  padding: 4px;
  color: aqua;
  background-color: rgb(177, 148, 198);
  background-image: linear-gradient(to left, rgb(127, 176, 255), indigo);
  font-weight: bold;
  display: inline-block;
}

@media (max-width: 768px) {
  .team {
    width: 100%;
    height: auto;
    padding: 90px 2%;
  }
  .logo2 h1 {
    font-size: 3.2rem;
  }
}