/*Head*/

body {
  font-family: arial;
  background-color: rgb(238, 245, 164);
  text-align: center;
}

#logo {
  color: rgb(0, 204, 255);
  text-shadow: 2px 2px 2px #000;
}

#logo1 {
  display: inline-block;
  border-radius: 6px;
  padding: 4px;
  color: aqua;
  background-color: rgb(177, 148, 198);
  background-image: linear-gradient(to left, rgb(127, 176, 255), indigo);
  font-weight: bold;
}

h4 {
  margin-top: 3em;
  text-align: center;
}
h2 {
  text-align: left;
  color: rgb(0, 0, 0);
}

p {
  color: rgb(0, 0, 0);
  font-size: 1.2em;
}

img {
  padding: 20px;
  border: 3px solid grey;
  border-radius: 10px;
}

img:hover {
  border: 3px solid rgb(196, 74, 74);
}

/*Navbar*/

ul#nav {
  margin: -8px -1em;
  margin-bottom: 3em;
  padding: 10px 2em;
  background-color: aquamarine;
  background-image: linear-gradient(to left, aqua, indigo);
  text-align: left;
  position: fixed;
  width: 100%;
  margin-bottom: 1;
}
ul#nav li {
  list-style: none;
  display: inline-block;
  margin-right: 20px;
}

ul#nav li a {
  text-decoration: none;
  padding: 10px 0;
  color: aqua;
  font-weight: bold;
}

ul#nav li a:hover {
  color: blueviolet;
  border-bottom: 3px solid blueviolet;
}

/*About Us*/

#AboutUs {
  justify-content: space-between;
  margin-top: 20px;
  display: flex;
  margin-left: 1em;
  margin-right: 1em;
}

#AboutUs .Us {
  border-radius: 10px;
  width: 250px;
  height: 250px;
}

.Us img {
  border-radius: 30px;
  width: 250px;
  height: 250px;
}

.Us p {
  text-align: center;
  height: 30px;
  margin-left: 20px;
  margin-right: 20px;
}
